{% extends "base.html" %}
{% block content %}
{% load static %}
{% static 'img' as baseUrl %}

{% if user.is_authenticated %}
<p></p>
{% else %}
<div class='log'>
    <h1>Signup to Explore!</h1>
</div>
{% endif %}

<form class="formulario" action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Sign Up</legend>
        
        <div class="field">
            <label for="username">Username:</label>
            <input class="input" id="username" type="text" name="username" placeholder="Enter Username" required>
        </div>

        <div class="field">
            <label for="email">Email:</label>
            <input class="input" id="email" type="email" name="email" placeholder="Enter Email" required>
        </div>

        <div class="field">
            <label for="password1">Password:</label>
            <input class="input" id="password1" type="password" name="password1" placeholder="Enter Password" required>
        </div>

        <div class="field">
            <label for="password2">Confirm Password:</label>
            <input class="input" id="password2" type="password" name="password2" placeholder="Re-enter Password" required>
        </div>

        <a href="{% url 'login' %}">Already have an account?</a>
    </fieldset>

    <center>
        <input class="btn" type="submit" value="Sign Up">
        <div class="message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </center>
</form>

{% endblock content %}
